/*reset css start */
*{
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align:baseline;
}

body{
background: #F0F0F0;
font-family: "Comic Sans MS", cursive, sans-serif;
}

/*main{
font-family: "Comic Sans MS", cursive, sans-serif;

}*/
h1  {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: 10px;
}

h2{
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
  text-align: center;
}

p{
  font-size: 20px;
text-align: center;
}
/*button{
  display: block;
  margin: auto;
}*/

.roundButton {
width: 100px;
height: 100px;
border-radius: 50px;
font-size: 20px;
background: #000066;
color: white;
text-align: center;
margin: 20px;
display: inline-block;
background-image: radial-gradient(ellipse farthest-corner at 45px 45px , #00FFFF 0%, rgba(0, 0, 255, 0) 50%, #000099 95%);
}

button:focus{
  outline: 0;
}

button:hover{
  background-image: radial-gradient(ellipse farthest-corner at 45px 45px , #A6FFFF 0%, rgba(0, 0, 255, 0) 50%, #6666FF 95%);
}

#button2{
  float: right;
  clear: both;
}

 table {
  border-spacing: 20px; /* add spacing between cards*/
  border-collapse: separate; /* borders are detached*/
  margin: 0 auto; /* center the cards */

}

td {
    position:relative;
    width: 130px;
    height: 250px;
    color: white;
    text-align: center;
    top: 0;
    left: 0;

}


.cardfront {
  background-image: url("img/redcard.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 250px;
  color: white;
  text-align: center;
  top: 0;
  left: 0;
}

#cardback {
  position:relative;
  width: auto;
  height: 170px;
  margin: 10px ;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  top: 0;
  left: 0;
    background-size: contain;
}

.numberbox{
/*border: 3px solid red;*/
width: 200px;
height: 50px;
margin:0 auto;
position: relative;
top: 70px;
display: block;
color: blue;
font-size: 25px;
}
