/*reset css start */
*{
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align:baseline;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
/*reset css end */

 table {
  border-spacing: 20px; /* add spacing between cards*/
  border-collapse: separate; /* borders are detached*/
  margin: 0 auto; /* center the cards */

}

td {
    position:relative;
    width: 130px;
    height: 250px;
    color: white;
    text-align: center;
    top: 0;
    left: 0;

}


.cardfront {
  background-image: url("img/redcard.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 250px;
  color: white;
  text-align: center;
  top: 0;
  left: 0;
}

#cardback {
  position:relative;
  width: auto;
  height: 170px;
  margin: 10px ;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  top: 0;
  left: 0;
    background-size: contain;
}
